{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
      <div class="column">
        {{ wtf.quick_form(form) }}
      </div>
      <div class="middle aligned column">
          <a href="{{  url_for('auth.register') }}">
            <div class="ui big button">
              <i class="signup icon"></i>
              Sign Up
            </div>
        </a>
      </div>
  </div>
  <div class="ui vertical divider">
    OU
  </div>
</div>
{% endblock %}