.menu-principal{
    border-radius: 0 !important;
    color: #C8C8C8;
    min-height: 5% !important;
}
.content{
    min-height: 85% !important;
}

.sing-up{
    color: ;
}

footer{
    background-color: black;
    color: #C8C8C8;
    min-height: 10% !important;
}

.form-login{
    border: 1px solid #0f0f0f;
    border-radius: 2em;
    max-height: max-content;
    margin-top: auto;
    margin-bottom: auto;
}
.conteudo{
    border: 1px solid #0f0f0f;
    border-radius: 0.5em;
}

.missao{
    border: 1px solid #0f0f0f;
    border-radius: 0.5em;
    margin-left: 1em;
    height: 100%;
}
