<!DOCTYPE html>
<html>
<head>
	<title>Biblioteca</title>
	<link rel="stylesheet" href="../static/semantic/semantic.css">
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
		<nav class="ui big inverted stackable menu menu-principal">
			<a class="item" href="{{ url_for('main.index') }}"><i class="icon home"></i></a>
			{% if current_user.is_authenticated %}
                <a class="item" href="{{ url_for('main.painel') }}">Painel</a>
            {% endif %}
            <div class="right stackable menu">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="item">Logout</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}" class="item"><i class="fly icon"></i>Login</a>
                {% endif %}
            </div>
		</nav>
		<section class="ui centered stackable grid content">
			<div class="twelve wide column ui grid">
                {% block content %}
'
                {% endblock %}
            </div>

		</section>
		<footer>
			<div class="ui centered middle aligned stackable grid">
				<p>Criado e desenvolvido por Jeliel Braz</p>
			</div>
		</footer>
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
	<script src="static/semantic/semantic.js"></script>
</body>
</html>