{% extends 'base.html' %}
{% block content %}

    <div class="ui basic segment stackable">
        <h1>Biblioteca</h1>
    </div>
    <div class="sixteen wide column ui grid bloco">
        <section class="twelve wide column ui grid conteudo">
            <div class="seven wide column">
                <h3>Objetivo</h3>
                <p>Fazer com que pessoas emprestem livros para outras pessoas,
                    criando uma comunidade de leitura</p>
            </div>
            <div class="seven wide column">
                <h3>Metas para 2019</h3>
                <p>Fazer com que o nosso desenvolvedor seja aprovado em Dev Web I e II</p>
            </div>
        </section>
    </div>
{% endblock %}
