{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block content %}
    <h1>All books of the site</h1>
    <table class="ui celled table">

          <thead>
                <tr>
                    <th>Book name</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Owner</th>
                </tr>
          </thead>
          <tbody>
                {% for book in books %}

                    <tr>
                        <th>{{ book.bookname }}</th>
                        <th>
                            {% for i in book.book_ref %}
                                {{ i.author_ref.name_author -}}
                                {%- if not loop.last -%}
                                    ,
                                {% endif %}
                            {% endfor %}
                        </th>
                        <th>{{ book.publisher }}</th>
                        <th><a href="user/{{ book.owner.username }}">{{ book.owner.username }}</a></th>

                    </tr>
                {% endfor %}
          </tbody>
    </table>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.list_books') }}
    </div>

{% endblock %}
