{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block content %}
    <h1>All authrs of the site</h1>
    <table class="ui celled table">

          <thead>
                <tr>
                    <th>Author name</th>
                </tr>
          </thead>
          <tbody>
                {% for author in authors %}

                    <tr>
                        <th>{{ author.name_author }}</th>

                    </tr>
                {% endfor %}
          </tbody>
    </table>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.list_author') }}
    </div>

{% endblock %}
