{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block content %}
    <h1>Info Book</h1>
    <p>{{ book.bookname }}</p>
    <p>{{ book.author }}</p>
    <p>{{ book.publisher }}</p>

    <h1>Loan to</h1>
    {{ wtf.quick_form(form) }}
{% endblock %}
