{% extends 'base.html' %}
{% block content %}
    <article class="ui grid" id="example1">
        <div class="ui container segment centered">
            <div class="ui grid">
                <div class="ui meta sixteen wide column">
                    <h2 class="ui header center aligned">
                        <a href="{{ url_for('main.list_author') }}"><i class="list ul icon"></i>List all Authors</a>
                    </h2>

                </div>
            </div>
        </div>
        <div class="ui container segment centered">
            <div class="ui grid">
                <div class="ui meta sixteen wide column">
                    <h2 class="ui header center aligned">
                        <a href="{{ url_for('main.list_books') }}"><i class="list ul icon"></i>Show Books</a>
                    </h2>

                </div>
            </div>
        </div>
        {% if user.has_permission(permission.HAVE_BOOK) %}
            <div class="ui container segment centered">
                <div class="ui grid">
                    <div class="ui meta sixteen wide column">
                        <h2 class="ui header center aligned">
                            <a href="{{ url_for('main.book_register') }}">
                                <i class="plus square icon"></i>Book Register</a></h2>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if user.has_permission(permission.ADMIN) %}
            <div class="ui container segment centered">
                <div class="ui grid">
                    <div class="ui met  a sixteen wide column">
                        <h2 class="ui header center aligned">
                            <a href="{{ url_for('main.permission_update') }}">
                                <i class="caret up icon"></i>Update Permission User
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if user.has_permission(permission.ADMIN) %}
            <div class="ui container segment centered">
                <div class="ui grid">
                    <div class="ui met  a sixteen wide column">
                        <h2 class="ui header center aligned">
                            <a href="{{ url_for('main.author_register') }}">
                                <i class="user secret icon"></i>
                                Author Register
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if user.has_permission(permission.HAVE_BOOK) %}
        <div class="ui container segment centered">
            <div class="ui grid">
                <div class="ui met  a sixteen wide column">
                    <h2 class="ui header center aligned">
                        <a href="{{ url_for('main.user', username=user.username) }}">
                            <i class="child icon"></i>
                            My Profile
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        {% endif %}
    </article>





{% endblock %}