{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block content %}
    <h1>Hellow, ADM {{ current_user.username }}</h1>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Permission</th>
                <th>Update</th>
                <th>Downgrade</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    {% if current_user.id != user.id%}
                        <th>{{ user.username }}</th>
                        <th>{{ user.role.name }}</th>

                        <th>
                            {% if user.role.name == "User" %}
                                Update to: <a href="{{ url_for('main.change_permission', id_user=user.id,
                                 permission='Owner' ) }}">Owner</a>

                                or

                                Update to: <a href="{{ url_for('main.change_permission',id_user=user.id,
                                    permission='Admin')  }}">Admin</a>

                            {% elif user.role.name == "Owner" %}
                                Upgrade to: <a href="{{ url_for('main.change_permission',id_user=user.id,
                                    permission='Admin')  }}">Admin</a>
                            {% else %}
                                That kind od user cannot be upgraded
                            {% endif %}
                        </th>
                        <th>
                            {% if user.role.name == "User" %}
                                That kind of user cannot be downgraded.
                            {% elif user.role.name == "Owner" %}
                                Downgrade to:  <a href="{{ url_for('main.change_permission',id_user=user.id,
                                    permission='User') }}">User</a>
                            {% else %}
                                Downgrade to: <a href="{{ url_for('main.change_permission',id_user=user.id,
                                    permission='User') }}">User</a>

                                or

                                Downgrade to: <a href="{{ url_for('main.change_permission',id_user=user.id,
                                    permission='Owner') }}">Owner</a>
                            {% endif %}
                        </th>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.permission_update') }}
    </div>
{% endblock %}