{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block content %}

    <h1>User: {{ user.username }}</h1>
    <h3>{{ user.username }}'s Books</h3>
        <table class="ui celled table">
          <thead>
                <tr>
                    <th>Bookname</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Loan</th>
                </tr>
          </thead>
          <tbody>
                {% for book in books %}
                    <tr>
                        <th>{{ book.bookname }}</th>
                        <th>
                            {% for i in book.book_ref %}
                                {{ i.author_ref.name_author -}}
                                {%- if not loop.last -%}
                                    ,
                                {% endif %}
                            {% endfor %}
                        </th>
                        <th>{{ book.publisher }}</th>
                        {% if book.loan_to %}
                            {% if current_user.id == book.owner.id %}
                                <th>That book is loan to: {{ book.user_loan.username }}
                                    <a href={{ url_for('main.returned_book', id_book=book.id) }}>It was already returned?</a></th>
                            {% else %}
                                <th>That book is loan to: {{ book.user_loan.username }}</th>
                            {% endif %}
                        {% elif current_user.id == book.owner.id%}
                            <th>
                                <a href="{{ url_for('main.loan_book', id_book=book.id) }}">
                                    Click here to loan this book
                                </a>
                            </th>
                        {% else %}
                            <th>-----</th>
                        {% endif %}
                    </tr>
                {% endfor %}
          </tbody>
    </table>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
    </div>
{% endblock %}